extends layout

block content
  script.
    $(document).ready(function() {
      let n_non_kanji_chars = 0

      $('.character').each(function(i, obj) {
        // Hide everything that isn't kanji
        if (!(this.innerHTML >= '\u4e00' && this.innerHTML <= '\u9faf' ||
              this.innerHTML >= '\u3400' && this.innerHTML <= '\u4dbf'))
        {
          $(this).closest('div').hide();
          n_non_kanji_chars++;
        };
      });

      $('#n_kanji').text(parseInt($('#n_kanji')[0].innerHTML) - n_non_kanji_chars);
    });


  div.center
    center
      p
        | Unique kanji seen: <span id='n_kanji' class='highlight'>#{kanji.length}</span>
        | in <span class='highlight'>#{n_scripts}</span> scripts

    br
    each k in kanji
      div.kanji
        table
          tr
            td.kanji
              p.char <a class='character' href='https://jisho.org/search/#{k.character}'>#{k.character}</a>
            td
              p <span class='subdued'>Count:</span> #{k.count}
